@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  background: url('../img/tiny_grid.png');
  overflow: hidden;
  /*cursor: none;*/
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;

}

#title {
  margin-top: 100px;
  margin-left: 140px;
}

#title h1 {
  font-size: 48px;
  font-weight: bold;
}

#title h2 {
  font-size: 32px;
  padding-left: 40px;
  margin-top: 10px;
}

#chart{
  width: 100%;
  height: 1080px;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#credits {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: url('../img/okfn-logo.png') no-repeat;
  height: 80px;
  padding-left: 80px;
  width: 380px;
  font-size: 13px;
}

.line-label {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
}

#datenportale {
  left: 200px;
  top: 320px;
  -webkit-transform: rotate(45deg);
}

#verkehrsdaten {
  left: 90px;
  top: 460px;
  -webkit-transform: rotate(45deg);
}

#openstreetmap {
  left: 90px;
  top: 780px;
  -webkit-transform: rotate(-45deg);
}

.line {
  stroke: #000;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.station {
}

.station rect {
  stroke: #000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #fff;
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
          transform-origin: 50% 50%;

  -webkit-animation: pulsate 2s ease-out;
     -moz-animation: pulsate 2s ease-out;
          animation: pulsate 2s ease-out;

  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
            transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(1.3);
       -moz-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
            transform: scale(1.0);
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
            transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(1.3);
       -moz-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1.0);
       -moz-transform: scale(1.0);
            transform: scale(1.0);
  }
}

.station.seen rect {
  fill: #999;
  -webkit-animation: none;
     -moz-animation: none;
          animation: none;

}

.S7 {
  stroke: #604D86;
}

.S2 {
  stroke: #D35B26;
}
.S3 {
  stroke: #287EB0;
}
.U6 {
  stroke: #655188;
}
.U9 {
  stroke: #CB6A27;
}
.U7 {
  stroke: #287EB0;
}
.S41 {
  stroke: #622A24;
}
.S42 {
  stroke: #9A4F2C;
}